* {
	margin: 0;
	padding: 0;

	--navbar-bg: #262626;
	--navbar-fg: #ffffff;

	--navbar-link-fg: #7c7c7d;

	font-family: Arial;
}

/*****************************************************/
/*          Stylisation de la barre de menu          */
/*****************************************************/
#navbar {
	display: flex;
	flex-direction: row;

	width: 100vw;
	height: 80px;

	background: var(--navbar-bg);
	color: var(--navbar-fg);
}

#navbar .left {
	display: flex;
	flex-direction: row;
}


#navbar .left .title {
	align-content: center;
	padding: 0px 20px;
	
	font-weight: 900;
	font-size: 38px;
}

#navbar .left .title a {
	color: var(--navbar-fg);
	text-decoration: none;
}

#navbar .left .links {
	align-content: center;
}

#navbar .left .links a {
	padding: 0px 10px;
	color: var(--navbar-link-fg);
	text-decoration: none;
	font-size: 22px;
}

#navbar .left .links a:hover {
	font-size: 30px;
	color: var(--navbar-fg);
	transition: all 0.2s;

}

#navbar .right {
	
}
/*****************************************************/
/*     Fin de la stylisation de la barre de menu     */
/*****************************************************/




/*****************************************************/
/*      Stylisation commune à toutes les pages       */
/*****************************************************/

#container {
	width: 100vw;
	padding: 4vh 10vw;
	font-size: 26px;
}	

h1 {
	font-size: 48px;
}
